<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">About the Budget Justice Coalition</h2>
    </header>
    <article class="two-column-text bottom-margin">
      <p>The purpose of the <strong>Budget Justice Coalition</strong> <abbr title="Budget Justice Coalition">(BJC)</abbr> is to collaboratively build people's participation in and understanding of South Africa's budget and planning processes. We do budget advocacy to mobilise the power of the people to ensure that the state advances social, economic and environmental justice that meets people's rights, quality of life and dignity in a developmental, equitable and redistributive way.</p>
      <p>The BJC is a voluntary coalition of civil society organisations. The BJC is not a stand-alone organisation, but a coalition of organisations.</p>
      <p>The founding member organisations include: the Public Service Accountability Monitor, Section27, Alternative Information and Development Center (AIDC), Equal Education, Equal Education Law Centre, Children’s Institute, Studies in Poverty and Inequality Institute, Institute for Economic Justice and the Dullah Omar Institute.</p>  
      <p>The Steering Committee of the Social Security Coalition is currently comprised of representatives from the following organisations:</p>
      <ul>
        <li>Dullah Omar Institute, Women and Democracy initiative</li>
        <li>Equal Education</li>
        <li>Institute for Economic Justice</li>
        <li>Oxfam South Africa</li>
        <li>Public Service Accountability Monitor</li>
        <li>Rural Health Advocacy Project</li>
        <li>Section 27</li>
        <li>Studies in Poverty and Inequality Institute</li>
      </ul>
    </article>
  </div>
</div>

{%- include site-wide/founders.html -%}

<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Our values</h2>
    </header>
    <section class="mission-vision">
      <h3 class="">We value:</h3>
      <article class="two-column-text">
        <ul>
          <li>The Founding Provisions and the Bill of Rights enshrined in South Africa’s Constitution.</li>
          <li>Strategies and processes that advance equal access to socio-economic rights and economic redistribution; commitment tequal access/attainment and protection of socio-economic rights.</li>
          <li>We value feminist theory and practice.</li>
          <li>Hearing all voices, cognisant of the power asymmetries of South Africa, and within the BJC.</li>
          <li>Working progressively towards more inclusive practices, especially in terms of gender and race, class and sexual orientation.</li>
          <li>A commitment to advancing and protecting socio-economic rights as final arbiter of decisions and debates.</li>
          <li>Finding solutions that address historical and emerging structural inequalities.</li>
        </ul>
      </article>
      <h3 class="">In our working culture, we:</h3>
      <article class="two-column-text">
        <ul>
          <li>Value all voices that are committed to socio-economic justice.</li>
          <li>Are cognisant of how silencing happens, and ensure that everyone feels safe and has the freedom to speak.</li>
          <li>Base decisions on participation and action on sufficient consensus-based decision-making.</li>
          <li>Respect the multiplicity of organisational approaches to achieving social change.</li>
          <li>Take cognisance of voice and power in the context of our history.</li>
          <li>Amplify voice, without being the voice (of communities).</li>
          <li>Acknowledge unequal power, and are cognisant of this in how we conduct ourselves.</li>
          <li>Communicate effectively and efficiently.</li>
          <li>Continuously reflect on aligning our principles and practice.</li>
          <li>Adopt and use non-violent approaches to keep members safe.</li>
        </ul>
      </article>
      <h3 class="">Guiding principles:</h3>
      <article class="two-column-text">
        <ul>
          <li>Are committed to protecting and advancing socio-economic rights and social justice within the framework of South Africa’s Constitutional values.</li>
          <li>Are committed to redress in the make-up of the BJC, consistent with our commitment to reducing inequality.</li>
          <li>Are open and honest with each other.</li>
          <li>Are open to external inputs and difference.</li>
          <li>Agree to be inclusive.</li>
          <li>Have humility.</li>
          <li>Are characterised by integrity.</li>
          <li>Engage in active participation.</li>
          <li>Are willing to share and learn.</li>
          <li>Trust each other’s ability and skills.</li>
          <li>Work tunravel structural inequality and discrimination (including within the BJC).</li>
          <li>Are committed to emulating equality and inclusion in our processes.</li>
          <li>Have transparent processes.</li>
          <li>Are respectful.</li>
          <li>Are fair.</li>
          <li>Are constructive.</li>
          <li>Are committed to fighting inequality.</li>
        </ul>
      </article>
    </section>

  </div>
</div>