<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Get involved</h2>
    </header>
    <p><strong>The Budget Justice Coalition</strong> is about working collaboratively to bring strength to budget advocacy and enhance the positions of various member organisations. Being a member should add value for organisations.</p>
    <p><strong>To be a member, the applicant must:</strong></p>
    <article class="two-column-text bottom-margin">
      <ul>
        <li>Be aligned with the core values and guiding principles.</li>
        <li>Be committed to challenging unequal power dynamics in practice.</li>
        <li>Advance and protect socio-economic rights.</li>
        <li>Be committed to equity, social and economic justice.</li>
        <li>Be committed to values contained in the South African Constitution.</li>
        <li>If the applicant seeks organisational membership, the values of the organisation must be compatible with the BJC’s values.</li>
        <li>Have the ability to reflect on positioning in relation to the social and political context of country, home organisation and the BJC membership.</li>
        <li>Have a capacity for understanding intersectionality.</li>
        <li>Be committed to collaboration.</li>
        <li>Not be part of a political party, donor organisation, government entity or multinational company.</li>
        <li>Work to  amplify citizen voices.</li>
        <li>Have their application to be accepted as a new member supported by the majority of BJC membership</li>
        <li>Possess the ability to give consideration to strong opposition to proposals.</li>
        <li>Accept that the different forms of membership, namely organisational and individual membership, imply different voting rights. Those with individual membership do not enjoy voting rights. Individual members can attend BJC workshops and meetings and benefit from training/capacity building offered by the BJC. Their contribution of expertise and time is valued.</li>
        <li>Be working in the social justice space to be eligible to be a member.</li>
      </ul>
    </article>
    <h3>Membership </h3>
    <article class="two-column-text bottom-margin">
      <p><strong>Membership of the BJC is made up of:</strong></p>
      <ul>
        <li>The Founding Members who can be organisations or individuals; and</li>
        <li>Applicants who comply with the eligibility criteria as organisations or individuals.</li>
      </ul>
      <p>The BJC has a preference for organisational members, with allowance for individuals (including those with perceived scarce skills and expertise).</p>
      <p class="break"><strong>Membership is open to:</strong></p>
      <ul>
        <li>Organisational membership: any formally established non-governmental organisation, social movement, worker movement, membership-based organisation or academic research unit which actively engages in the achievement of budget justice and/or socioeconomic rights in South Africa; and</li>
        <li>Individual membership: any unaffiliated individual academic, researcher or activist whose field of research or interest encompasses the achievement of the aims of the Budget Justice Coalition.</li>
      </ul>
    </article>
    <h3>Join</h3>
    <p>To join the Budget Justice Coalition please complete the below membership form. All fields are required except those  marked optional.</p>
    <form action="/success/" method="post" data-netlify="true" netlify-honeypot="bot-field" name="join">
      <p class="is-hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="text-input" required>
      </p>
      <p>
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname" class="text-input" required>
      </p>
      <p>
        <label for="organisation">Organisation</label>
        <input type="text" name="organisation" id="organisation" class="text-input" required>
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="text-input" required>
      </p>
      <p>
        <label for="cellphone">Cellphone</label>
        <input type="tel" name="cellphone" id="cellphone" class="text-input" required>
      </p>
      <p>
        <label for="telephone">Telephone <small>(Optional)</small></label>
        <input type="tel" name="telephone" id="telephone" class="text-input">
      </p>
      <div class="input-wrapper">
        <label for="">Membership type</label>
        <p>
          <input id="individual-membership" class="radio-custom" name="membership-type" type="radio" value="Individual" required>
          <label for="individual-membership" class="radio-custom-label">Individual</label>
        </p>
        <p>
          <input id="organisation-membership" class="radio-custom" name="membership-type" type="radio" value="Organisation" required>
          <label for="organisation-membership" class="radio-custom-label">Organisation</label>
        </p>
      </div>
      <p>
        <label for="motivation">Please provide a brief motivation for your membership</label>
        <textarea class="text-input" name="motivation" id="motivation" required></textarea>
      </p>
      <p>
        <input id="acceptterms" class="checkbox-custom" name="acceptterms" type="checkbox">
        <label for="acceptterms" class="checkbox-custom-label" required>I support the values and principles of the Budget Justice Coaltion.</label>
      </p>
      <p>
        <button type="submit" class="button">Submit</button>
      </p>
    </form>
  </div>
</div>