<div class="news-feature" style="background-image: radial-gradient(rgba(0, 0, 0, 0.55), rgba(17, 87, 64, 0.55)), url(/assets/images/splash.jpg">
  <div class="news-feature-container content-container">
    <div class="news-feature-copy">
      <h1 class="section-header header-white">Featured story</h1>
      <h2>Story title</h2>
      <p class="news-feature-sub">Story blurb. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, voluptates sapiente velit doloremque quidem excepturi consequuntur recusandae ipsa quam pariatur quibusdam unde facilis nihil. Accusantium voluptates et ipsam deserunt animi.</p>
      <a href="" class="read-more read-more-white">
        Read the feature
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#ffffff" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"></rect>
            <polygon points="14.546 0 20 4 14.547 7.999"></polygon>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>