<div class="component-wrapper latest-news">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Latest news and media</h2>
    </header>
  </div>
  <section class="two-column-grid content-container">
    <article class="grid-item news-item">
      <figure class="grid-item-figure">
        <a href="">
          <img src="/assets/images/abstract.jpg" alt="">
        </a>
      </figure>
      <div class="grid-content">
        <time datetime="2019-09-19">19 September 2019</time>
        <h2 class="grid-item-header">Article title that spans one line</h2>
        <p class="grid-item-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non debitis aliquid aut autem iusto atque eaque magni omnis, dolor veritatis ab temporibus, officiis labore optio perferendis minus praesentium vel quibusdam.
        </p>
        <a href="" class="read-more">
          Read more
          <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#E05363" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"/>
            <polygon points="14.546 0 20 4 14.547 7.999"/>
          </g>
        </svg>        
        </a>
      </div>
    </article>
    <article class="grid-item news-item">
      <figure class="grid-item-figure">
        <a href="">
          <img src="/assets/images/charts.jpg" alt="">
        </a>
      </figure>
      <div class="grid-content">
        <time datetime="2019-09-19">19 September 2019</time>
        <h2 class="grid-item-header">Much longer article title that spans multiple lines and maybe more to test the layout</h2>
        <p class="grid-item-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
        </p>
        <a href="" class="read-more">
          Read more
          <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#E05363" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"/>
            <polygon points="14.546 0 20 4 14.547 7.999"/>
          </g>
        </svg>        
        </a>
      </div>
    </article>
    <article class="grid-item news-item">
      <figure class="grid-item-figure">
        <a href="">
          <img src="/assets/images/paper.jpg" alt="">
        </a>
      </figure>
      <div class="grid-content">
        <time datetime="2019-09-19">19 September 2019</time>
        <h2 class="grid-item-header">Article title that spans two lines to test the layout</h2>
        <p class="grid-item-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
        </p>
        <a href="" class="read-more">
          Read more
          <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#E05363" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"/>
            <polygon points="14.546 0 20 4 14.547 7.999"/>
          </g>
        </svg>        
        </a>
      </div>
    </article>
    <article class="grid-item news-item">
      <figure class="grid-item-figure">
        <a href="">
          <img src="/assets/images/time-for-change.jpg" alt="">
        </a>
      </figure>
      <div class="grid-content">
        <time datetime="2019-09-19">19 September 2019</time>
        <h2 class="grid-item-header">Article title that spans one line</h2>
        <p class="grid-item-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
        </p>
        <a href="" class="read-more">
          Read more
          <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#E05363" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"/>
            <polygon points="14.546 0 20 4 14.547 7.999"/>
          </g>
        </svg>        
        </a>
      </div>
    </article>
  <article class="grid-item news-item">
    <figure class="grid-item-figure">
      <a href="">
        <img src="/assets/images/abstract.jpg" alt="">
      </a>
    </figure>
    <div class="grid-content">
      <time datetime="2019-09-19">19 September 2019</time>
      <h2 class="grid-item-header">Article title that spans one line</h2>
      <p class="grid-item-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non debitis aliquid aut autem iusto atque eaque magni omnis, dolor veritatis ab temporibus, officiis labore optio perferendis minus praesentium vel quibusdam.
      </p>
      <a href="" class="read-more">
        Read more
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
        <g fill="#E05363" fill-rule="evenodd">
          <rect width="14.545" height="1.6" y="3.2"/>
          <polygon points="14.546 0 20 4 14.547 7.999"/>
        </g>
      </svg>        
      </a>
    </div>
  </article>
  <article class="grid-item news-item">
    <figure class="grid-item-figure">
      <a href="">
        <img src="/assets/images/charts.jpg" alt="">
      </a>
    </figure>
    <div class="grid-content">
      <time datetime="2019-09-19">19 September 2019</time>
      <h2 class="grid-item-header">Much longer article title that spans multiple lines and maybe more to test the layout</h2>
      <p class="grid-item-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
      </p>
      <a href="" class="read-more">
        Read more
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
        <g fill="#E05363" fill-rule="evenodd">
          <rect width="14.545" height="1.6" y="3.2"/>
          <polygon points="14.546 0 20 4 14.547 7.999"/>
        </g>
      </svg>        
      </a>
    </div>
  </article>
  <article class="grid-item news-item">
    <figure class="grid-item-figure">
      <a href="">
        <img src="/assets/images/paper.jpg" alt="">
      </a>
    </figure>
    <div class="grid-content">
      <time datetime="2019-09-19">19 September 2019</time>
      <h2 class="grid-item-header">Article title that spans two lines to test the layout</h2>
      <p class="grid-item-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
      </p>
      <a href="" class="read-more">
        Read more
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
        <g fill="#E05363" fill-rule="evenodd">
          <rect width="14.545" height="1.6" y="3.2"/>
          <polygon points="14.546 0 20 4 14.547 7.999"/>
        </g>
      </svg>        
      </a>
    </div>
  </article>
  <article class="grid-item news-item">
    <figure class="grid-item-figure">
      <a href="">
        <img src="/assets/images/time-for-change.jpg" alt="">
      </a>
    </figure>
    <div class="grid-content">
      <time datetime="2019-09-19">19 September 2019</time>
      <h2 class="grid-item-header">Article title that spans one line</h2>
      <p class="grid-item-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, a magnam molestias corrupti beatae repellendus eius nihil placeat. Similique vel quae ducimus illo, animi blanditiis quaerat est voluptas reprehenderit. Qui?
      </p>
      <a href="" class="read-more">
        Read more
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
        <g fill="#E05363" fill-rule="evenodd">
          <rect width="14.545" height="1.6" y="3.2"/>
          <polygon points="14.546 0 20 4 14.547 7.999"/>
        </g>
      </svg>        
      </a>
    </div>
  </article>
</section>
</div>