<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Tools</h2>
    </header>
    <section class="two-column-grid">
      <article class="grid-item">
        <div class="grid-content resource-item">
          <h2 class="grid-item-header">Rights of domestic workers</h2>
          <p class="grid-item-text">
            SERI has developed a user-friendly resource guide to create awareness of the rights of domestic workers and the obligations of employers in terms of the domestic employment relationship. It explains what the law says about domestic workers and gives practical advice on how domestic workers can engage with their employers.
          </p>
          <a href="http://www.seri-sa.org/index.php/more-news/784-new-publication-seri-launches-new-guide-on-the-rights-of-domestic-workers-4-may-2018" class="read-more">
            Seri guide
            <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
            <g fill="#E05363" fill-rule="evenodd">
              <rect width="14.545" height="1.6" y="3.2"/>
              <polygon points="14.546 0 20 4 14.547 7.999"/>
            </g>
          </svg>        
          </a>
        </div>
      </article>
      <article class="grid-item">
        <div class="grid-content resource-item">
          <h2 class="grid-item-header">Income comparison</h2>
          <p class="grid-item-text">
            If you think about your household, how rich or poor do you think you are compared to other South Africans? SALDRU has developed an income comparison tool to help you see how income is distributed from the poorest to the richest in South Africa. Find out where you are in South Africa's income distribution and how you compare to the rest of the population.
          </p>
          <a href="https://www.saldru.uct.ac.za/income-comparison-tool/" class="read-more">
            SALDRU tool
            <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
            <g fill="#E05363" fill-rule="evenodd">
              <rect width="14.545" height="1.6" y="3.2"/>
              <polygon points="14.546 0 20 4 14.547 7.999"/>
            </g>
          </svg>        
          </a>
        </div>
      </article>
    </section>
  </div>
</div>