<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {%- include ga.html -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Montserrat-Bold.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Montserrat-Regular.woff2" crossorigin>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {% seo %} 

</head>