@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}
