// Home page

.taglines {
	align-items: center;
	background-image: url(/assets/svg/line-chart-bg.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem 0;
	text-align: center;
}

.main-tagline {
	@include font-size(40);
	line-height: 1.2;
	padding: 0 2.5rem;
	max-width: 1100px;

	@include breakpoint(45em) {
		@include font-size(60);
	}

}

.secondary-tagline {
	@include font-size(20);
	color: $elf-green;
	line-height: 1.5;
	padding: 0 1rem;
	max-width: 1060px;

	@include breakpoint(45em) {
		@include font-size(30);
		padding: 0 4rem;
	}

}

.home-feature {
	margin: 10rem 0 15rem;
}

.home-media-items {
	margin: 0 auto;
	max-width: 1100px;
}
