// footer styles

.footer-wrapper {
  padding-bottom: 0;
}

.main-footer {
  border-top: 10px solid $sea-pink;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
  padding: 2rem 0 0;
}

.follow-links {
  align-items: center;
  display: flex;
}

.follow-bjc {
  margin-right: 1rem;
}

.npo-status {
  display: flex;
  background-color: $off-white;
  padding: 1.5rem 1rem 0;
  margin-top: 3rem;
}