html,
body {
  color: #444;
  font-size: 16px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
  line-height: 1.7;
  color: #333;
  font-weight: 400;
  letter-spacing: 0.01rem;
}