<section class="details-group">
  <details class="details">
    <summary class="details--summary">
      FAQ paragraphs
    </summary>
    <div class="details--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequatur quam deleniti dolorum esse pariatur, non sit dolorem ab ad officia est ratione ut nemo voluptatibus modi tempora. Architecto, repellendus.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque odio velit, et quas nemo sapiente perferendis quibusdam fugiat? Nostrum similique saepe fugit natus ea officiis facere consequatur maxime eum qui!</p>
    </div>
  </details>

  <details class="details">
    <summary class="details--summary">FAQ two much longer</summary>
    <div class="details--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequatur quam deleniti dolorum esse pariatur, non sit dolorem ab ad officia est ratione ut nemo voluptatibus modi tempora. Architecto, repellendus.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque odio velit, et quas nemo sapiente perferendis quibusdam fugiat? Nostrum similique saepe fugit natus ea officiis facere consequatur maxime eum qui!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequatur quam deleniti dolorum esse pariatur, non sit dolorem ab ad officia est ratione ut nemo voluptatibus modi tempora. Architecto, repellendus.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque odio velit, et quas nemo sapiente perferendis quibusdam fugiat? Nostrum similique saepe fugit natus ea officiis facere consequatur maxime eum qui!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequatur quam deleniti dolorum esse pariatur, non sit dolorem ab ad officia est ratione ut nemo voluptatibus modi tempora. Architecto, repellendus.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque odio velit, et quas nemo sapiente perferendis quibusdam fugiat? Nostrum similique saepe fugit natus ea officiis facere consequatur maxime eum qui!</p>
    </div>
  </details>

  <details class="details">
    <summary class="details--summary">FAQ with a list</summary>
    <div class="details--content">
      <ul>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        </li>
        <li>
          Laborum assumenda velit alias nesciunt fuga laboriosam molestiae iusto adipisci ad eaque, quod excepturi architecto tempora minima blanditiis explicabo distinctio amet commodi?
        </li>
      </ul>
    </div>
  </details>
</section>