<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Founding members</h2>
    </header>
    <section class="image-gallery">
      <a href="http://aidc.org.za/" target="_blank">
        <img src="/assets/images/founders/DullahOmarInstitute.png" alt="">
      </a>
      <a href="https://dullahomarinstitute.org.za" target="_blank">
        <img src="/assets/images/founders/AIDC.png" alt="">
      </a>
      <a href="http://www.ci.uct.ac.za/" target="_blank">
        <img src="/assets/images/founders/ChildrensInstitute.png" alt="">
      </a>
      <a href="https://equaleducation.org.za/" target="_blank">
        <img src="/assets/images/founders/EqualEducation.png" alt="">
      </a>
      <a href="https://eelawcentre.org.za/" target="_blank">
        <img src="/assets/images/founders/EqualEducationLawCentre.png" alt="">
      </a>
      <a href="https://iej.org.za/" target="_blank">
        <img src="/assets/images/founders/InstituteForEconomicJustice.jpg" alt="">
      </a>
      <a href="https://psam.org.za/" target="_blank">
        <img src="/assets/images/founders/PublicServiceAccountabilityMonitor.png" alt="">
      </a>
      <a href="http://rhap.org.za/" target="_blank">
        <img src="/assets/images/founders/RuralHealthAdvocacyProject.png" alt="">
      </a>
      <a href="http://section27.org.za/" target="_blank">
        <img src="/assets/images/founders/Section27.png" alt="">
      </a>
      <a href="https://spii.org.za/" target="_blank">
        <img src="/assets/images/founders/StudiesInPovertyAndInequality.png" alt="">
      </a>
    </section>
  </div>
</div>