<section class="glossary">
  <nav class="glossary-nav" id="glossaryNav">
    <ul>
      <li><a class="glossary-link" href="#A">A</a></li>
      <li><a class="glossary-link" href="#B">B</a></li>
      <li><a class="glossary-link" href="#C">C</a></li>
      <li><a class="glossary-link" href="#D">D</a></li>
      <li><a class="glossary-link" href="#E">E</a></li>
      <li><a class="glossary-link" href="#F">F</a></li>
      <li><a class="glossary-link" href="#G">G</a></li>
      <li><a class="glossary-link" href="#H">H</a></li>
      <li><a class="glossary-link" href="#I">I</a></li>
      <li><a class="glossary-link" href="#J">J</a></li>
      <li><a class="glossary-link" href="#K">K</a></li>
      <li><a class="glossary-link" href="#L">L</a></li>
      <li><a class="glossary-link" href="#M">M</a></li>
      <li><a class="glossary-link" href="#N">N</a></li>
      <li><a class="glossary-link" href="#O">O</a></li>
      <li><a class="glossary-link" href="#P">P</a></li>
      <li><a class="glossary-link" href="#Q">Q</a></li>
      <li><a class="glossary-link" href="#R">R</a></li>
      <li><a class="glossary-link" href="#S">S</a></li>
      <li><a class="glossary-link" href="#T">T</a></li>
      <li><a class="glossary-link" href="#U">U</a></li>
      <li><a class="glossary-link" href="#V">V</a></li>
      <li><a class="glossary-link" href="#X">X</a></li>
      <li><a class="glossary-link" href="#Y">Y</a></li>
      <li><a class="glossary-link" href="#Z">Z</a></li>
    </ul>
  </nav>
  <div class="glossary-definitions">
    <article id="A">
      <div>
        <h4>A something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>Another something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="B">
      <div>
        <h4>B something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>B something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="C">
      <div>
        <h4>C something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>C something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="D">
      <div>
        <h4>D something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>D something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="E">
      <div>
        <h4>E something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>E something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="F">
      <div>
        <h4>F something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>F something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="G">
      <div>
        <h4>G something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>G something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="H">
      <div>
        <h4>H something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>H something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="I">
      <div>
        <h4>I something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>I something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
    <article id="J">
      <div>
        <h4>J something</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
      </div>
      <div>
          <h4>J something</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quae inventore repellat, minima sit ipsam quasi! Eveniet maiores provident expedita. Dicta, dignissimos ad libero est atque cum dolorem excepturi!</p>
        </div>
    </article>
  </div>
</section>