<div class="component-wrapper">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Success</h2>
    </header>
    <p>Thanks for applying to join the BJC. We will review your application and respond shortly.</p>
    <p>You can also sign up for our newsletter via the form below, or follow us on <a href="https://www.facebook.com/budgetjusticesa/">Facebook</a> and <a href="https://twitter.com/budgetjusticesa">Twitter</a>.</p>
    <p>The BJC</p>
  </div>
</div>