<div class="component-wrapper organisations">
  <div class="content-container">
    <header class="header-cta">
      <h2 class="section-header">Who we are</h2>
    </header>
    <article class="two-column-text">
      <p>The purpose of the <strong>Budget Justice Coalition</strong> <abbr title="Budget Justice Coalition">(BJC)</abbr> is to collaboratively build people's participation in and understanding of South Africa's budget and planning processes. We do budget advocacy to mobilise the power of the people to ensure that the state advances social, economic and environmental justice that meets people's rights, quality of life and dignity in a developmental, equitable and redistributive way.</p>
      <p>The BJC is a voluntary coalition of civil society organisations. The BJC is not a stand-alone organisation, but a coalition of organisations.</p>
      <p>The founding member organisations include: the Public Service Accountability Monitor, Section27, Alternative Information and Development Center (AIDC), Equal Education, Equal Education Law Centre, Children’s Institute, Studies in Poverty and Inequality Institute, Institute for Economic Justice and the Dullah Omar Institute.</p>  
      <p>The Steering Committee of the Budget Justice Coalition is currently comprised of representatives from the following organisations:</p>
      <ul>
        <li>Alternative Information and Development Centre</li>
        <li>Dullah Omar Institute, Women and Democracy initiative</li>
        <li>Equal Education</li>
        <li>Institute for Economic Justice</li>
        <li>Oxfam South Africa</li>
        <li>Public Service Accountability Monitor</li>
        <li>Section 27</li>
        <li>Corruption watch</li>
      </ul>
    </article>

    <a href="/about/" class="read-more">
      Read more
      <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
      <g fill="#E05363" fill-rule="evenodd">
        <rect width="14.545" height="1.6" y="3.2"/>
        <polygon points="14.546 0 20 4 14.547 7.999"/>
      </g>
    </svg>        
    </a>
  </div>
</div>