<div class="toolbar">
  <span class="toolbar-description">Our tools:</span>
  <button class="toolbar-button" disabled data-tooltip data-tooltip-position="top" aria-description="Coming soon">Debt mapper</button>
  <button class="toolbar-button" disabled data-tooltip data-tooltip-position="top" aria-description="Coming soon">Procurement analyser</button>
  <button class="toolbar-button" disabled data-tooltip data-tooltip-position="top" aria-description="Coming soon">Compensation analyser</button>
  <button class="toolbar-button" disabled data-tooltip data-tooltip-position="top" aria-description="Coming soon">Revenue trends</button>
</div>