---
layout: compress
---

{% include header.html %}
<body></body>
  <div class="site-wrapper">
    {% include nav.html %}
  
    <main>
      <div class="container">
        <article class="article-body" itemscope="" itemtype="http://schema.org/Article">
          <header class="article-header">
            <h2 class="single-article-header" itemprop="name headline">{{ page.title }}</h2>
          </header>
          <div id="{{ page.graph-container }}"></div>
        {{ content }}
        </article>
      </div>
      {% include site-wide/footer.html  %}
    </main>
  </div>
  {% include service-worker.html %}
</body>