---
Layout: compress
---

{% include header.html %}
<body></body>
  <div class="site-wrapper">
    {% include nav.html %}
  
    <main>
      <div class="container article-container">
        <article class="article-body" itemscope="" itemtype="http://schema.org/Article">
          <header class="article-header">
            <h2 class="single-article-header" itemprop="name headline">{{ page.title }}</h2>
            <time class="article-meta" itemprop="datePublished" datetime="2015-01-07T07:07:21+00:00">{{ page.date | date: "%-d %B %Y" }}</time>
            <span class="author" itemprop="author">By {{ page.author }}</span>
          </header>
        {{ content }}
        </article>
      </div>
      {% include site-wide/footer.html  %}
    </main>
  </div>
  {% include service-worker.html %}
</body>